@import url(./reset.css);
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Poppins|Quicksand&display=swap');

:root {
  --background-color: #dfe1e5;
}

body {
  margin: 0;
  font-family: "Merriweather", "Cantarell", "Helvetica Neue", "Avenir Next",
    "Avenir", sans-serif;
  background: var(--background-color);
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  margin-top: 0;
  font-size: 1.803em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  padding-top: 1em;
  font-size: 1.15em;
}

small,
.text_small {
  font-size: 0.8em;
}

h1,
h2{
  font-family: "Alfa Slab One";
}


h3,
h4,
h5{
  font-family: 'Poppins', sans-serif;
}

p{
  font-family: 'Quicksand'
}

button {
  color: white;
  background: #5e050a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1em 1em 1em 0;
  border-radius: 4px;
  cursor: pointer;
}

.Page {
  padding: 0em 1em;
  min-height: 95vh;
  background: var(--background-color);
}

.logo {
  margin-top: 0.2em;
  margin-right: 1em;
  height: 3em;
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.NavBar {
  display: grid;
  grid-template-columns: 1fr 7fr;
  min-height: 5vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.2em 1.5em;
}

.menu li > a {
  font-size: 0.7em;
  color: white;
}

.sign-in {
  display: inline-block;
}

form {
  max-width: 700px;
  text-align: center; 
  margin: 1em auto;
}

.form{  
  width: 100%;
}

.checkboxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label{
  margin-bottom: 2em;
}

input, textarea{
  border:0; outline:0;
  padding: .8em;
  min-width:25em;
  margin-top:1em;
  border-radius: 4px;
}

.job-post-section {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  min-height: 40vh;
  min-width: 90%;
  align-items: center;
}

.job-post {
  margin-bottom: 2em;
  font-size: 1.25em;
  width: 90%;
  max-height: 40vh;
  border: 1px solid transparent;
  padding: 0;
}

.job-post h3 {
  padding-top: 0;
}

.job-title {
  color: #8a0216;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #8a0216;
}

.post-description {
  line-height: 1.4em;
  max-width: 40em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
  align-items: center;
}

.welcome {
  text-align: center;
  color: white;
  max-width: 100%;
  max-height: 100vh;
}

.welcome-image-div {
  position: relative;
  max-width: 100%;
  max-height: 90vh;
}

.welcome-text-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px #000;
}

.welcome-image {
  max-width: 100%;
  max-height: 100%;
}

.welcome-card {
  color: rgb(29, 29, 29);
  text-align: center;
}

.welcome-card-text {
  min-height: 50%;
}

.welcome-card-text h4 {
  color: #8a0216;
  padding-top: 15vh;
}

.welcome-card-text p {
  padding: 5vh;
  line-height: 1.5em;
}







/* DESKTOP LAST */
@media (min-width: 1024px) {
  .Page {
    padding: 0em 8vw;
  }

  button:hover,
  button:active {
    background: #8a0216;
  }
  
  .welcome-card,
  .welcome-card-text {
    display: none;
  }

  .job-post {
    width: 100%;
    padding: 2em 2em 1em 2em;
    margin-bottom: 2em;
  }

  .job-post:hover,
  button:hover {
    border: 1px solid white;
    border-radius: 4px;
  }

  .post-container {
    background: url(../src/film-background.jpg);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  form {
    max-width: 700px;
    text-align: center; 
    margin: 1em ;
    margin-top: 5vh;
  }

  .half-form{
    float:left;
    width:50%;
  }

}
